In [10]:
import pandas as pd
import os
import numpy as np
import sklearn
import dataFuncs
import matplotlib.pyplot as plt

#Initialise repositories
_projroot = os.path.abspath('.')
_datadir = os.path.join(_projroot,'data')
_preprocesseddir = os.path.join(_datadir,'preprocesseddata')
_rawdir = os.path.join(_datadir,'rawdata')

In [11]:
WCC_Survey = pd.read_csv(os.path.join(_preprocesseddir,'WCC_mobile.csv'))
WCC_Survey = WCC_Survey.drop('Unnamed: 0', axis = 1)

In [12]:
WCC_Survey.dtypes

Target            float64
AGE               float64
S1                float64
Q3                float64
Q4                float64
                   ...
Q37a              float64
Q38               float64
Postcode_clean    float64
Ward              float64
OutputArea        float64
Length: 95, dtype: object

In [13]:
WCC_Survey['Target'].value_counts()

0.0    890
1.0    148
Name: Target, dtype: int64

In [14]:
WCC_Survey.describe()

,Target,AGE,S1,Q3,Q4,Q5a,Q5b,Q5c,Q5d,Q5e,...,Q35,Q36a,Q36b,Q36c,Q31,Q37a,Q38,Postcode_clean,Ward,OutputArea
count,1038.000000,913.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,...,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000
mean,0.142582,44.407448,0.513487,2.259152,5.166667,1.601156,1.719653,2.559730,1.851638,2.297688,...,6.496146,0.453757,0.368979,0.396917,0.216763,0.195568,1.689788,182.515414,9.378613,99.648362
std,0.349814,15.868167,0.500059,2.119226,5.697803,1.515869,1.463612,1.838671,1.507664,1.601294,...,3.476812,0.848892,0.787854,0.812434,0.754433,0.396829,2.228100,107.430924,5.790143,60.711775
min,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,32.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,85.000000,4.000000,41.000000
50%,0.000000,43.000000,1.000000,1.000000,3.000000,1.000000,2.000000,3.000000,2.000000,3.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,190.000000,9.000000,102.000000
75%,0.000000,55.000000,1.000000,4.000000,10.000000,3.000000,3.000000,4.000000,3.000000,3.000000,...,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,273.750000,14.000000,153.750000
max,1.000000,94.000000,1.000000,11.000000,19.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,11.000000,3.000000,4.000000,4.000000,5.000000,1.000000,9.000000,363.000000,20.000000,202.000000

In [15]:
WCC_Survey.corr().to_csv(os.path.join(_preprocesseddir,"WCC_Correlation.csv"))